// configuration for code block wrapper
pre.highlight {
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  margin: 20px 0 20px 0;
  overflow: auto;
}

// configuration for all code text (inline, block)
code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
  font-size: 14px;
}

// configuration for inline code
code.language-plaintext {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
  color: #000000;
  background-color: #f7f7f7;
  white-space: nowrap;
  border-radius: 2px;
  font-size: 90%;
  padding: 2px 2px;
}